@use "variable" as *;

%arrowBase {
  width: 100%;
  height: 100%;
  z-index: 1;

  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

@mixin responsiveArrow($type) {
  @if $type == mobile {
    @include respond($breakpoint-mobile) {
      display: block;
    }

    @include respond($breakpoint-tablet) {
      display: none;
    }

    @include respond($breakpoint-desktop) {
      display: none;
    }
  }
  @if $type == tablet {
    @include respond($breakpoint-mobile) {
      display: none;
    }
    @include respond($breakpoint-tablet) {
      display: block;
    }
    @include respond($breakpoint-desktop) {
      display: none;
    }
  }
  @if $type == desktop {
    @include respond($breakpoint-mobile) {
      display: none;
    }
    @include respond($breakpoint-tablet) {
      display: none;
    }
    @include respond($breakpoint-desktop) {
      display: block;
    }
  }
}

@mixin arrow($direction) {

  @content;

  @if ($direction == "downRight") {
    position: absolute;
    bottom: 0;
    right: -5rem;
    transform: rotateY(180deg);
    background-image: url("../image/arrows/arrow-downRight.svg");

  }

  @if ($direction == "topLeft") {
    position: absolute;
    top: -47vw;
    right: -7vw;
    width: 57vw;
    background-image: url("../image/arrows/arrow-topLeft.svg");
  }

  @if ($direction == "topRight") {
    position: absolute;
    top: -45vw;
    left: -4rem;
    background-image: url("../image/arrows/arrow-topRight.svg");
    width: 74vw;
  }

  @if ($direction == "bottomLeft-large") {
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    background-image: url("../image/arrows/arrow-bottomLeft-large.svg");
    width: 100%;
  }

  @if ($direction == "topRight-large") {
    position: absolute;
    top: -14rem;
    left: -2rem;
    background-image: url(../image/arrows/arrow-topRight-large.svg);
    width: 50%;
  }

  @if ($direction == "topLeft-large") {
    position: absolute;
    top: -14rem;
    right: -2rem;
    transform: rotateY(180deg);
    background-image: url("../image/arrows/arrow-topRight-large.svg");
    width: 50%;
  }
}
