@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: "Space Mono", monospace;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
}

h2 {
  font-size: 3rem;
  line-height: 1;
}

h3 {
  font-size: 2.5rem;
  line-height: 1;
}

h4 {
  font-size: 1.5rem;
  line-height: 1;
  color: #495567;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding: 20px 20px;
}
@media only screen and (min-width: 600px) {
  .nav-bar {
    position: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-bar {
    max-width: 1000px;
    position: inherit;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}
.nav-bar .logo-link .logo {
  color: #495567;
  text-transform: lowercase;
  font-size: 30px;
  font-weight: 750;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .nav-bar .logo-link .logo {
    font-size: 40px;
    font-weight: 750;
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-bar .logo-link .logo {
    font-size: 40px;
    font-weight: 750;
    text-align: left;
  }
}
.nav-bar .logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .nav-bar .logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-bar .logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}
.nav-bar .logo-link ul {
  display: flex;
}
.nav-bar .logo-link ul li > a {
  display: none;
  margin-left: 20px;
}
@media only screen and (min-width: 600px) {
  .nav-bar .logo-link ul li > a {
    font-size: 12px;
    font-family: "Space Mono", monospace;
    font-weight: 600;
    display: block;
    color: #939CAA;
    text-decoration: none;
    text-align: start;
    margin: 0px 15px;
  }
}
.nav-bar button {
  background-color: #FCB72B;
  color: #F2F5F9;
  display: none;
}
@media only screen and (min-width: 600px) {
  .nav-bar button {
    font-size: 14px;
    font-weight: bold;
    right: 0;
    display: block;
    padding: 12px 30px;
    border: none;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-bar button {
    font-size: 14px;
    font-weight: bold;
    right: 100px;
    display: block;
    padding: 12px 30px;
    border: none;
    height: auto;
    margin-left: auto;
  }
}
.nav-bar .burger-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  left: 25px;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .nav-bar .burger-icon {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-bar .burger-icon {
    display: none;
  }
}
.nav-bar .burger-icon span {
  display: block;
  background-color: #FCB72B;
  width: 21px;
  height: 4px;
}

/*# sourceMappingURL=navbar.css.map */
